.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #5D6975;
  text-decoration: underline;
}

body {
  position: relative;
  width: 21cm;  
  height: 29.7cm; 
  margin: 0 auto; 
  color: #001028;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 12px; 
  font-family: Arial;
}

header {
  padding: 0px 30px;
  margin-bottom: 30px;
}

#logo {
  text-align: right;
  margin-bottom: 10px;
}

#logo img {
  width: 90px;
}
h3{
  margin-top: 30px;
}

h1 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color: #000000;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
  background: url(../components/plantilla/dimension.png);
}


#project span {
  color: #5D6975;
  text-align: right;
  width: 52px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.8em;
}



/* ----------------- */
.clearfix .firmas-header {
  width: 100%;
}

.firmas-header .firmas-contrato-cajaheader1 {  
  width: 40%;
  float: left; 
  margin-right: 20%;
}
.firmas-header .firmas-contrato-cajaheader2 {  
  width: 10%;
  float: right; 
}

.contrato-redaccion{
  padding: 30px;
}

.contrato-redaccion h2{
  font-weight: bold; 
  margin-top: 40px; 
  text-align: center;
}

.contrato-redaccion b {
  font-weight: bold; 
  font-size: 13px; 
  text-decoration: underline;
}

.contrato-redaccion .firmas-contrato {
  margin-left: 20%; 
  width: 100%;
}
.contrato-redaccion .firmas-contrato .firmas-contrato-caja1 {
  width: 20%;
  float: left; 
}
.contrato-redaccion .firmas-contrato .firmas-contrato-caja2 {
  width: 20%;
  float: right;
  margin-right: 25%; 
}
.contrato-redaccion .firmas-contrato h3{
  border-top: 1px solid black;
  margin-top: 100px;
}
.contrato-redaccion .firmas-contrato h4{
  text-align: center;
}
.contrato-redaccion span{
  text-align: justify;
}

/* ------------------- */


#notices {
  padding: 40px 40px;
}

#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

footer {
  text-align: center;
  color: #5D6975;
  width: 80%;
  height: 30px;
  margin-left: 60px;
  /* position: absolute; */
  bottom: 0;
  border-top: 1px solid #C1CED9;
  margin-top: 20px;
  padding: 8px 0;
  text-align: center;
}