// Colors

$color_first: rgba(255,255,255,1 ); 
$color_second: rgba(1,1,1, 1);
$color_third: rgba(247,247,247, 1);
$color_fourth: rgba(173,173,173,1 );
$color_fifth: rgba(30,30,30, 1);
$color_sixth: rgba(18,169,190, 1);

// text

body
{
  margin: 0;
  padding: 0;
  word-break: break-all;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}

.container
{
  margin: auto;
  text-align: center;

  & .content_nav
  {
    width: 100%;

    & ul
    {
      list-style: none;
      padding: 0;

      display: flex;

      & li.product , & li.provider
      {
        width: 60%;
        margin: 10% auto;
        border: 2px solid $color_fourth;
        border-radius: 15px;
        padding: 5%;
        background-color: $color_third;

        & a
        {
          text-decoration: none;
          color: $color_second;
        }

        & a:hover
        {
          font-weight: bold;
        }

        & span
        {
          & .fas
          {
            margin: 0% 5% 0% 0%;
            color: $color_fifth;
          }
        }
      }

      & li.product, & li.provider
      {
        & ul
        {
          display: flex;
          align-items: center;
          justify-content: center;
          
          & .register_pro, & .register_provee
          {
            display: none;

            & form
            {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;

              & span
              {
                margin: 7% 0%;
                color: $color_fourth
              }

              & input , & select, & textarea
              {
                padding: 1%;
                border: 0;
                border-bottom: 1px solid $color_fourth;
                background: none;

                // style text

                font-weight: bold;
                color: $color_fifth;
              }

              & select
              {
                width: 90%;
              }

              & .precios
              {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                & label
                {
                  margin: 5% auto;
                }
              }
            }

            & .buttons
            {
              margin: 10% 0%;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: row;

              & .btn
              {
                background-color: transparent;
                border: 0;
                width: 30%;

                & .far, & .fas
                {
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }

      & td
      {
        width: 30%;
      }
    }

  }

  footer
  {
    & span
    {
      font-size: 0.7rem;
    }
  }
}

@media screen and (min-width: 425px)
{
  .container
  {
    max-width: 80%;
  }
}

@media screen and (min-width: 725px)
{
  .container
  {
    max-width: 60%;
    
    & .content_nav
    {
      & ul
      {
        & .product, & .provider, & .distribucion
        {
          & .fas, & .far
          {
            font-size: 1.5rem;
          }
          & a 
          {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px)
{
  .container
  {
    max-width: 90%;
  }
}